{% extends 'main/base.html' %}
{% load custom_filtering_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="border rounded join-competition-form">
        <div class="row p-4">
            <div class="col-12">

                <div class="row">
                    <div class="col pb-2">
                        <div class="row pb-2">
                            <div class="col">
                                <div class="text-center">
                                    <img src="{{ competition.competition_banner }}" class="circular border-image">
                                </div>
                            </div>
                        </div>

                        <h2 class="notranslate display-3 text-center">{{ comp_name }}</h2>
                        <h5 class="pt-4">Note: Since this is a <b>Paid</b> tournament you will need to provide competition password before signing up!</h5>
                    </div>
                </div>

                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col">
                            {{ form.password|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-4">
                            <input type="submit" value="Submit" class="btn btn-primary btn-block" id="submitButton">
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}