{% extends 'main/base.html' %}
{% load custom_filtering_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="border rounded">
    <div class="row p-4">
        <div class="col-12">
            <div class="row">
                <div class="col pb-2">
                    <h2 class="notranslate display-3 text-center">{{ comp_name }}</h2>
                    <h2 class="notranslate display-4 text-center">({{ competition.competition_type }})</h2>
                    <h3 class="text-center pt-2"><u>Inscription Form:</u></h3>
                    <h5 class="pt-4"><i class="fas fa-sticky-note note-icon"></i> To work your account needs to be public! Tutorial Here: <a class="badge badge-primary" href="https://www.youtube.com/watch?v=k_IMsQ3crME&feature=emb_title">Make Account Public</a></h5>
                    <h5 class="pt-2">Do Not Use ACTIVISION ID's! <i class="fas fa-ban red-icon"></i></h5>
                </div>
            </div>

            <form method="post">
                {% csrf_token %}
                
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        {{ form.team_name|as_crispy_field }}
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        {{ form.team_twitch_stream_user|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {{ form.team_banner|as_crispy_field }}
                    </div>
                </div>

                <div class="row pt-4" id="player_1">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        {{ form.player_1|as_crispy_field }}
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        {{ form.player_1_id_type|as_crispy_field }}
                    </div>
                </div>

                <div class="row" id="player_2">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        {{ form.player_2|as_crispy_field }}
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        {{ form.player_2_id_type|as_crispy_field }}
                    </div>
                </div>

                <div class="row" id="player_3">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        {{ form.player_3|as_crispy_field }}
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        {{ form.player_3_id_type|as_crispy_field }}
                    </div>
                </div>

                <div class="row" id="player_4">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        {{ form.player_4|as_crispy_field }}
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        {{ form.player_4_id_type|as_crispy_field }} 
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col">
                        <h4>This form will verify that your account meets the following:</h4>
                        <ul>
                            <li class="white-color-font"><p class="lead">You have provided the username without typos <i class="fas fa-check check-mark-icon"></i></p></li>
                            <li class="white-color-font"><p class="lead">You have provided an username that exists <i class="fas fa-check check-mark-icon"></i></p></li>
                            <li class="white-color-font"><p class="lead">You have provided the proper id type <i class="fas fa-check check-mark-icon"></i></p></li>
                            <li class="white-color-font"><p class="lead">You meet the KD criteria of <b>{{ competition.cod_kd_minimum_per_player_verification|stringformat:".2f" }} <= KD <= {{ competition.cod_kd_maximum_per_player_verification|stringformat:".2f" }}</b> <i class="fas fa-check check-mark-icon"></i></p></li>
                            <li class="white-color-font"><p class="lead">Your account is older than <b>{{ competition.cod_verification_total_time_played }}</b> days of total played time <i class="fas fa-check check-mark-icon"></i></p></li>
                            <li class="white-color-font"><p class="lead">You have played more than <b>{{ competition.cod_verification_total_games_played }}</b> matches in your entire account life <i class="fas fa-check check-mark-icon"></i></p></li>
                            <li class="white-color-font"><p class="lead">Twitch Live Stream during competition is required <i class="fab fa-twitch twitch-icon-color"></i> </p></li>
                            <li class="white-color-font"><p class="lead"><span class="notranslate">Reverse Boosting</span> is prohibited. <i class="fas fa-ban red-icon"></i> </p></li>
                            <li class="white-color-font"><p class="lead">Any sort of <span class="notranslate">Hack</span> is prohibited. <i class="fas fa-ban red-icon"></i> </p></li>
                        </ul>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col">
                        <h5>Note: Validate your data before submitting!</h5>
                    </div>
                </div>

                <div class="row" id="progressBar">
                    <div class="col">
                        <div class="progress" style="height:35px">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%">Validating.. 0</div>
                        </div>
                    </div>
                </div>

                <div class="row" id="notValidUsers">
                </div>

                <div class="row pt-4">
                    <div class="col-6">
                        <a class="btn btn-success" href="javascript:void();" onclick="validate_users();">Validate</a>
                    </div>
                    <div class="col-6">
                        <input type="submit" value="Submit" class="btn btn-primary" id="submitButton">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>


    const timer = ms => new Promise(res => setTimeout(res, ms))

    let competition_type =                      "{{ competition.competition_type }}";

    // Api keys and stuff
    let x_rapidapi_key =                        "{{ config.cod_x_rapidapi_key }}";
    let x_rapidapi_host =                       "{{ config.cod_x_rapidapi_host }}";
    let cod_url_warzone_stats =                 "{{ config.cod_url_warzone_stats }}";
    let twitch_api_verfication_client_id =      "{{ config.twitch_api_verfication_client_id }}";
    let twitch_api_verfication_client_secret =  "{{ config.twitch_api_verfication_client_secret }}";

    // Rules and verification
    let max_kd_per_player =             parseFloat("{{ competition.cod_kd_maximum_per_player_verification }}".replace(",","."));
    let min_kd_per_player =             parseFloat("{{ competition.cod_kd_minimum_per_player_verification }}".replace(",","."));


    let total_games_played =        "{{ competition.cod_verification_total_games_played }}";
    let total_time_played =         "{{ competition.cod_verification_total_time_played|convert_days_to_epoch }}".replace(",",".");

    // Progress  bar
    let progress_bar_row = document.getElementById('progressBar');
    let progress_bar = document.getElementsByClassName('progress-bar');

    let player_1_has_text = false;
    let player_2_has_text = false;
    let player_3_has_text = false;
    let player_4_has_text = false;

    let messages = [];

    progress_bar_row.style.display = "none";

    disable_submit_button();
    displayFieldDependingOnCompType(competition_type);

    async function validate_users() {
        let user_1 = document.getElementById('id_player_1').value;
        let id_player_1_id_type = document.getElementById('id_player_1_id_type').value;

        if (user_1 != "") {player_1_has_text = true;}

        let user_2 = document.getElementById('id_player_2').value;
        let id_player_2_id_type = document.getElementById('id_player_2_id_type').value;

        if (user_2 != "") {player_2_has_text = true;}

        let user_3 = document.getElementById('id_player_3').value;
        let id_player_3_id_type = document.getElementById('id_player_3_id_type').value;

        if (user_3 != "") {player_3_has_text = true;}

        let user_4 = document.getElementById('id_player_4').value;
        let id_player_4_id_type = document.getElementById('id_player_4_id_type').value;

        if (user_4 != "") {player_4_has_text = true;}

        let twitch_user = document.getElementById("id_team_twitch_stream_user").value;

        let not_valid_users = [];
        let total_users = [];
        messages = [];

        let accounts_validated = true;
        let twitch_account_exists = true;
        let form_completed = true;

        let token = "";
        let token_type = "";

        disable_submit_button();

        // Delete those all chiled elements
        // from notValidUsers and get all
        // span values
        let divrow = document.getElementById("notValidUsers");

        if (divrow != undefined) {
            while (divrow.firstChild) {
                divrow.removeChild(divrow.lastChild);
            }
        }

        // Display progress bar
        // Progress bar at 25%
        progress_bar_row.style.display = "block";
        progress_bar[0].className = "progress-bar progress-bar-striped progress-bar-animated";
        progress_bar[0].style.width = "25%";
        progress_bar[0].textContent = "Validating.. 25%";

        // Verifying that twitch user exists

        if (twitch_user != "") {

            let twitch_token_promise = await ajax_request_get_twitch_token(twitch_api_verfication_client_id, twitch_api_verfication_client_secret);
            
            token = twitch_token_promise['access_token'];
            token_type = twitch_token_promise['token_type'][0].toUpperCase() + twitch_token_promise['token_type'].slice(1);

            let twitch_account = await ajax_request_check_twitch_acc_exists(twitch_user, token, token_type)


            if (twitch_account['data'].length == 0) {
                messages.push("Unable to find your twitch user");
                twitch_account_exists = false;
                progress_bar[0].textContent = "Twitch account does not exist.. 35%";
            } else {
                progress_bar[0].style.width = "35%";
                progress_bar[0].textContent = "Validating twitch account.. 35%";
            }
        } else {
            // Will make the twitch account validation to fail
            messages.push("You did not input a twitch account");
            twitch_account_exists = false;
        }

        // Need to fix this to make the code smaller
        // Could use dictionaries but running them 
        // async is a problem this is why i did it 
        // like this

        if (player_1_has_text == true) {
            let user_1_data = await ajax_request_check_user_data(user_1, id_player_1_id_type, cod_url_warzone_stats, x_rapidapi_key, x_rapidapi_host);

            if (user_1_data['error'] == true) {
                not_valid_users.push(user_1);
                total_users.push({"user_1": false});

                let error_message = getErrorMessage(user_1_data["message"])

                messages.push(user_1 + error_message);

            } else {
                let user_1_verified = verification_rules(user_1_data["br_all"], user_1);
                total_users.push({"user_1": user_1_verified})
            }

        } else if (competition_type == "SOLOS" || competition_type == "DUOS" || competition_type == "TRIOS" || competition_type == "SQUADS"){
            messages.push("Field player 1 is empty!");
            form_completed = false;
        }

        if (player_2_has_text == true) {
            if (user_2 != "") {
                let user_2_data = await ajax_request_check_user_data(user_2, id_player_2_id_type, cod_url_warzone_stats, x_rapidapi_key, x_rapidapi_host);

                if (user_2_data['error'] == true) {
                    not_valid_users.push(user_2);
                    total_users.push({"user_2": false});

                    let error_message = getErrorMessage(user_2_data["message"])

                    messages.push(user_2 + error_message);

                } else {
                    let user_2_verified = verification_rules(user_2_data["br_all"], user_2);
                    total_users.push({"user_2": user_2_verified})
                }
            }

        } else if (competition_type == "DUOS" || competition_type == "TRIOS" || competition_type == "SQUADS"){
            messages.push("Field player 2 is empty!");
            form_completed = false;
        }

        // Progress bar at 55%
        progress_bar[0].style.width = "55%";
        progress_bar[0].textContent = "Validating.. 55%";

        if (player_3_has_text == true) {
            if (user_3 != "") {

                let user_3_data = await ajax_request_check_user_data(user_3, id_player_3_id_type, cod_url_warzone_stats, x_rapidapi_key, x_rapidapi_host);

                if (user_3_data['error'] == true) {
                    not_valid_users.push(user_3);
                    total_users.push({"user_3": false});

                    let error_message = getErrorMessage(user_3_data["message"])

                    messages.push(user_3 + error_message);

                } else {
                    let user_3_verified = verification_rules(user_3_data["br_all"], user_3);
                    total_users.push({"user_3": user_3_verified})
                }
            }

        } else if (competition_type == "TRIOS" || competition_type == "SQUADS") {
            messages.push("Field player 3 is empty!");
            form_completed = false;
        }
        
        if (player_4_has_text == true) {
            if (user_4 != "") {

                let user_4_data = await ajax_request_check_user_data(user_4, id_player_4_id_type, cod_url_warzone_stats, x_rapidapi_key, x_rapidapi_host);

                if (user_4_data['error'] == true) {
                    not_valid_users.push(user_4);
                    total_users.push({"user_4": false});

                    let error_message = getErrorMessage(user_4_data["message"])

                    messages.push(user_4 + error_message);

                } else {
                    let user_4_verified = verification_rules(user_4_data["br_all"], user_4);
                    total_users.push({"user_4": user_4_verified})
                }
            }

        } else if (competition_type == "SQUADS"){
            messages.push("Field player 4 is empty!");
            form_completed = false;
        }

        // If atleast one is false it 
        // will not pass validation
        if (total_users.length == 0) {
            accounts_validated = false;
        } else {
            total_users.forEach(element => 
                Object.entries(element).forEach(([k,v]) => {
                    if (v == false) {
                        accounts_validated = false;
                    }
                })
            );
        }
        
        // Progress bar at 75%
        progress_bar[0].style.width = "75%";
        progress_bar[0].textContent = "Validating.. 75%";

        // Validate all users
        if (accounts_validated == true && twitch_account_exists == true && form_completed == true) {
            // Progress bar at 100%
            progress_bar[0].style.width = "100%";
            progress_bar[0].textContent = "Users and twitch account were validated.. 100%";
            enable_submit_button();

        } else {
            // Here we create and add
            // span with users who did not pass
            // validation
            progress_bar[0].className = "progress-bar progress-bar-striped progress-bar-animated bg-danger";
            progress_bar[0].style.width = "100%";
            progress_bar[0].textContent = "Did not pass validation.. 100%";

            not_valid_users = not_valid_users.filter(n => n);

            let unique_errors = [ ...new Set(messages) ]; // Gets rid of duplicates

            for (let i = 0; i < unique_errors.length; i++) {
                let div = document.createElement('div');
                div.className = "col not-valid-users";

                let span = document.createElement('span');
                span.innerHTML = unique_errors[i];
                span.className = "badge badge-danger not-valid-users";

                div.appendChild(span);
                divrow.appendChild(div);
            }
        }
    }

    async function ajax_request_check_user_data(user, user_type, cod_url, api_key, api_host) {
        // This function makes the api call
        // to the warzone api

        await timer(1000);

        let new_url = cod_url + user.replace("#", "%23") + "/" + user_type;

        return $.ajax({
            beforeSend: function(request) {
                request.setRequestHeader("x-rapidapi-key", api_key);
                request.setRequestHeader("x-rapidapi-host", api_host);
            },
            url: new_url,
            success: function(data){
            }
        });
    }

    async function ajax_request_get_twitch_token(client_id, client_secret) {
        return $.ajax({
            type: "POST", 
            url: "https://id.twitch.tv/oauth2/token?client_id=" + client_id + "&client_secret=" + client_secret + "&grant_type=client_credentials",
            success: function (data) {
                // console.log(data);
            }
        })
    }

    async function ajax_request_check_twitch_acc_exists(twitch_user, token, token_type) {
        return $.ajax({
            type: "GET",
            beforeSend: function(request) {
                request.setRequestHeader("Authorization", token_type + " " + token);
                request.setRequestHeader("Client-Id", twitch_api_verfication_client_id)
            },
            url: "https://api.twitch.tv/helix/users?login=" + twitch_user,
            success: function(data) {
                // console.log(data);
            }
        })
    }

    function verification_rules(user_data, user) {
        // This function allows us to verify
        // that is not a new account and 
        // has enough time played
        // and meet kdratio

        if (user_data["gamesPlayed"] >= total_games_played) {
            if (user_data["timePlayed"] >= total_time_played) {
                if (user_data["kdRatio"] >= min_kd_per_player && user_data["kdRatio"] <= max_kd_per_player) {
                    return true;
                } else {
                    messages.push(user + " KD is " + user_data["kdRatio"].toFixed(2) + " - Does not meet KD requirements of Min: " + min_kd_per_player + " or Max: " + max_kd_per_player);
                    return false;
                }
            } else {
                messages.push(user + "Account did not meet total time played required");
                return false;
            }
        } else {
            messages.push(user + "Account total games played does not meet verification criteria")
            return false;
        }
    }

    function disable_submit_button(){
        let submit_button = document.getElementById("submitButton");
        submit_button.disabled = true;
    }

    function enable_submit_button() {
        let submit_button = document.getElementById("submitButton");
        submit_button.disabled = false;
    }

    function displayFieldDependingOnCompType(competition_type) {
        // Displays fields depending on
        // competition type

        if (competition_type == "SOLOS") {
            displayNone(["player_2", "player_3", "player_4"]);

        } else if (competition_type == "DUOS") {
            displayNone(["player_3", "player_4"]);

        } else if (competition_type == "TRIOS") {
            displayNone(["player_4"]);

        } else {
            // console.log("Not changing anything");
        }
    }

    function displayNone(list) {
        // Runs through a list 
        // of ids and makes them invisible

        list.forEach(element =>  {console.log(element); document.getElementById(element).style.display = "none"});
    }

    function getErrorMessage(message) {
        // Cuando alguien busca un usuario con el id type que no es o el id no existe
        // 404 - Not found. Incorrect username or platform? Misconfigured privacy settings?

        // El perfil esta en privado
        // Not permitted: not allowed

        let new_message = "";

        if (message == "404 - Not found. Incorrect username or platform? Misconfigured privacy settings?") {
            new_message = " Does not exist or ID type selection is wrong!";
        } else if (message == "Not permitted: not allowed") {
            new_message = " Account is private. Needs to be public to work!";
        } else {
            new_message = " " + message;
        }

        return new_message;
    }


</script>
{% endblock %}