{% extends 'main/base.html' %}
{% load custom_filtering_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container pt-4">
    <div class="border rounded join-competition-form">
        <div class="row p-4">
            <div class="col-12 white-color-font">
                <div class="row">
                    <div class="col ">
                        <h1 class="display-4 white-color-font">Rocket League Tournament 2021.</h1>
                        <h4>by Total Upgrade</h4>
                        <p class="lead white-color-font">Total Upgrade te invita al primer Major de Rocket League. Para participar completa este formulario y revisa los datos antes de enviar.
                            
                            <p class="white-color-font">Recuerda el "Captain Name" es el nombre real del capitan, y el celular y correo son para validar pagos y check in.</p>

                            <h5>Pago via Banca en Linea: </h5>

                            <ul class="white-color-font">
                                <li>Kevin Sandoval </li>
                                <li>Cuenta de Ahorros </li>
                                <li>04499848644431 </li>
                            </ul>

                            <h5>Pago via Paypal: </h5>
                            
                            <ul class="white-color-font">
                                <li><a href="https://paypal.me/jillybe4n?locale.x=es_XC">paypal.me/jillybe4n</a></li>
                            </ul>

                            <h5>Fechas:</h5>

                            <ul class="white-color-font">
                                <li>14 De Mayo 9 pm - 12 am (Online)</li>
                                <li>15 De Mayo 9 pm - 12 am (Online)</li>
                                <li>16 De Mayo 7 pm - 9 pm (Presencial)</li>
                            </ul>

                            <h5>Calendario: </h5>

                            <ul class="white-color-font">
                                <li>14 De Mayo - Etapa de grupos: 1 partida entre cada equipo, formato de puntajes en el stream <a href="https://www.twitch.tv/sektor_507">twitch.tv/sektor_507</a></li>
                                <li>15 De Mayo - Winner Bracket y Loser Bracket, formato juegos ganados.</li>
                                <li>16 De Mayo - Final Presencial en <a href="https://www.instagram.com/kartcenterpanama/?hl=en">@kartcenterpanama IG</a></li>
                            </ul>
                            
                            <h5>Fecha limite de inscripcion:</h5>

                            <ul class="white-color-font">
                                <li>13 de mayo a las 6 pm</li>
                            </ul>

                            <h5>Fecha limite para pago:</h5>
                            
                            <ul class="white-color-font">
                                <li>14 de mayo a las 3 pm</li>
                            </ul>

                            <h5>Discord:</h5>
                            
                            <ul>
                                <a href="https://discord.gg/2cWue7AC4N">discord.gg/total_upgrade</a>
                            </ul>

                            <h5>Reglas Generales: </h5>
                            
                            <ul class="white-color-font">
                                <li>Tipo de competencia: Trios</li>
                                <li>Winner Bracket BO5, Losser Bracket BO3 y Final BO7</li>
                                <li>El seguimiento del Major se da en <a href="https://www.twitch.tv/sektor_507">twitch.tv/sektor_507</a></li>
                                <li>Limite de rangos: Gold I - Platinum III</li>
                                <li>Cualquier cuenta smurf esta prohibida.</li>
                                <li>Cualquier tipo de hack esta prohibido.</li>
                            </ul>

                            <h5>Sistema de puntaje en etapa de grupos: </h5>

                            <table class="table table-dark table-hover">
                                <thead>
                                  <tr>
                                    <th>Reglas:</th>
                                    <th>Puntos:</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Cada Goal</td>
                                    <td>1</td>
                                  </tr>
                                  <tr>
                                    <td>Win</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>Loss</td>
                                    <td>1</td>
                                  </tr>
                                </tbody>
                            </table>

                    </div>
                </div>

                <h5>Inscription Form:</h5>

                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row pt-4">
                        <div class="col">
                            {{ form.team_name|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            {{ form.captain_name|as_crispy_field }}
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 notranslate">
                            {{ form.captain_cellphone_number|as_crispy_field }}
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 notranslate">
                            {{ form.captain_email|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row pt-4" id="player_1">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            {{ form.player_1_id|as_crispy_field }}
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                            {{ form.player_1_platform|as_crispy_field }}
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                            {{ form.player_1_rank|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row pt-4" id="player_2">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            {{ form.player_2_id|as_crispy_field }}
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                            {{ form.player_2_platform|as_crispy_field }}
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                            {{ form.player_2_rank|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row pt-4" id="player_3">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            {{ form.player_3_id|as_crispy_field }}
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                            {{ form.player_3_platform|as_crispy_field }}
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                            {{ form.player_3_rank|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col">
                            <input type="submit" value="Submit" class="btn btn-primary btn-block" id="submitButton">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}