{% extends 'main/base.html' %}
{% load custom_filtering_tags %}
{% block content %}

<div class="row pt-4 justify-content-center">
    <div class="col-6">

        {% if user.is_authenticated%}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.mos.cms.futurecdn.net/RjKYxQHcJL3k7WjkKjGxi9-320-80.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ activision_tag }}</h5>
            <p class="card-text">{{ message }}</p>
            </div>
            <ul class="list-group list-group-flush">
                {% if profile_found %}
                    <li class="list-group-item"><b>Activision tag:</b> {{ activision_tag }}</li>
                    <li class="list-group-item"><b>Kill Death Ratio:</b> {{ kdratio }}</li>
                    <li class="list-group-item"><b>Wins:</b> {{ battleroyale_total_wins }} </li>
                    <li class="list-group-item"><b>Total Kills:</b> {{ total_kills }} </li>
                {% else %}
                    <li class="list-group-item"><b>Activision tag:</b> Edit your profile to show data</li>
                    <li class="list-group-item"><b>Kill Death Ratio:</b> Edit your profile to show data</li>
                    <li class="list-group-item"><b>Wins:</b> Edit your profile to show data</li>
                    <li class="list-group-item"><b>Total Kills:</b> Edit your profile to show data </li>
                {% endif %}
            </ul>
            <div class="card-body">
                <a href="{% url 'edit_profile' %}" class="card-link">Edit Profile</a>
                <a href="{% url 'refresh_profile' %}" class="card-link">Refresh Profile</a>
            </div>
        </div>
    {% endif %}
      
    </div>
    <div class="col-6">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Placement</th>
                <th scope="col">KD Ratio</th>
                <th scope="col">Kills</th>
                <th scope="col">Damage</th>
              </tr>
            </thead>
            <tbody>
            {% for match in last_ten_matches %}
                <tr>
                    <th scope="row">{{ forloop.counter0|add }}</th>
                    <td>{{ match|get_item:'teamPlacement'}}</td>
                    <td>{{ match|get_item:'kd' }}</td>
                    <td>{{ match|get_item:'kills' }}</td>
                    <td>{{ match|get_item:'damageDone' }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Average:</th>
                  <th scope="col"></th>
                  <th scope="col">{{ avg_kda_over_last_ten_matches }}</th>
                  <th scope="col">{{ avg_kills_over_last_ten_matches }}</th>
                  <th scope="col">{{ avg_damage_over_last_ten_matches }}</th>
                </tr>
              </thead>
          </table>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-success" href="{% url 'create_team' %}">Create squad</a>
        </div>
        <div class="col">
            <a class="btn btn-success" href="{% url 'create_team' %}">Join squad</a>
        </div>
    </div>
</div>
    


{% endblock content %}