{% extends 'main/base.html' %}
{% load custom_filtering_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5 h-100">
    <div class="row h-100 align-items-center">
        <div class="col-md-12 min-vh-100 d-flex flex-column">
            <div class="row">
                <div class="col-lg-12 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Regiment profile</h3>
                        </div>
                        <div class="card-body text-center">

                           <div class="row">
                               <div class="col-lg-4 col-md-12 col-sm-12 pb-4">
                                   <div class="row">
                                        <div class="col-12">
                                            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" class="rounded" alt="Cinque Terre" style="height: 100px; width: 100px">
                                        </div>
                                   </div>
                                   <div class="row pt-4">
                                       <div class="col-12">
                                            <h3 class="black-color-font">{{ name|title }}</h3>
                                       </div>
                                   </div>
                                    
                               </div>

                               <div class="col-lg-8 col-md-12 col-sm-12 text-left">
                                   <div class="row">
                                       <div class="col">
                                            <h3 class="black-color-font">Description:</h3>
                                            <p>{{ description }}</p>
                                       </div>
                                   </div>

                                   <div class="row">
                                        <div class="col">
                                            <h3 class="black-color-font">Members:</h3>
                                            {% for member in members %}
                                                <p>{{ forloop.counter0|add }} - {{ member|title }} - {{ member.country }} 

                                                    {% if leader == user.profile %}
                                                        {% if member != leader %}
                                                            <a href="{% url 'remove_member_from_regiment' regiment_name=name member_username=member %}" data-toggle="tooltip" data-placement="top" title="Remove user">
                                                                <i class="fa fa-times youtube-icon-color" aria-hidden="true"></i>
                                                            </a>
                                                        {% else %}
                                                            <a href="">
                                                                <i class="fas fa-crown first-place" data-toggle="tooltip" data-placement="top" title="Regiment Leader"></i>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}

                                                </p>
                                            {% endfor %}
                                        </div>
                                   </div>
                                   
                                   <div class="row">
                                       <div class="col">
                                            <!-- Button trigger modal -->

                                            <div class="row">
                                                <div class="col pb-2">
                                                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#inviteToRegimentModal">
                                                        Invite member <i class="fas fa-user-plus"></i>
                                                     </button>
                                                </div>
                                                {% if leader == user.profile %}
                                                <div class="col pb-2">
                                                    <a href="{% url 'edit_regiment' regiment_name=name %}" class="btn btn-primary btn-block">
                                                        Edit regiment    
                                                    </a>
                                                </div>
                                                {% endif %}
                                                <div class="col pb-2">
                                                    <a href="{% url 'leave_regiment' regiment_name=name %}" class="btn btn-danger btn-block">
                                                        Leave regiment   
                                                    </a>
                                                </div>
                                            </div>
                                            
                                            <!-- Invite to regiment modal -->
                                            <div class="modal fade" id="inviteToRegimentModal" tabindex="-1" role="dialog" aria-labelledby="inviteToRegimentModalTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title black-color-font" id="inviteToRegimentModalTitle">Invitation url</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                            <div class="modal-body">
                                                                <p>Send this url to the person you are inviting!</p>
                                                                <a href="{{ request.build_absolute_uri  }}/invite/{{invite_code}}">{{ request.build_absolute_uri  }}/invite/{{invite_code}}</a>

                                                            </div>
                                                            <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Delete user from regiment modal -->
                                            <div class="modal fade" id="deleteUserFromRegimentModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserFromRegimentModalTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title black-color-font" id="deleteUserFromRegimentModalTitle">Remove member</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to remove this user from the regiment?</p>
                                            
                                                            </div>
                                                            <div class="modal-footer">
                                                            <a href="" class="btn btn-success" data-dismiss="modal">Yes</a>
                                                            <a href="" class="btn btn-danger" data-dismiss="modal">No</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                       </div>
                                   </div>

                               </div>
                           </div>


                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>



{% endblock %}

{% block javascript %}
<script>
    let stream_url = document.getElementById(twitch_header_id).getAttribute("data-url")
    twitch_frame.setAttribute("src", stream_url)
</script>

{% endblock %}