{% extends "account/base.html

{% block head_title %}Change Password{% endblock %}

{% block content %}
    <div class="container pt-4 my-5">
        <div class="row">
            <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
    
                        <!-- form card login -->
                        <div class="card rounded shadow shadow-sm">
                            <div class="card-header">
                                <h3 class="mb-0">Change password</h3>
                            </div>
                            <div class="card-body">
                                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-primary" type="submit" name="action">Change Password</button>
                                    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                                </form>
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->
                    </div>
                </div>
                <!--/row-->
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>

{% endblock %}