{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Password reset{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

<div class="container pt-4 my-5">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Password reset done</h3>
                        </div>
                        <div class="card-body">
                            <div class="row pt-2">
                                <div class="col">
                                    <p>We have sent you an e-mail with instructions about resetting your password. Please contact us to our <a href="https://discord.gg/RkThGa9qgw">Discord</a> if you do not receive it within a few minutes</p>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    <a href="/accounts/login">Return to login</a>
                                </div>
                            </div>
                        </div>
                        
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

{% endblock %}