{% extends 'main/base.html' %}
{% block content %}
    <div class="container pt-4">
        {% if user.is_authenticated%}
                <h1 class="white-color-font">Welcome {{ user.username }} !</h1>
                <h1 class="white-color-font">Something random !</h1>
        {% else %}
            <h1 class="white-color-font">User is not authenticated</h1>
            <a class="white-color-font" href="{% url 'login' %}">Please Log in!</a>
        {% endif %}
    </div>

{% endblock content %}