body {
    background-color:#1E242B;
}

.h1, h1, h5, h2, a, i{
    color:#EFEFEF!important;
}

/* Navigation bar */
.bg-light {
    background-color:#2D3640!important;
}

.navbar-light .navbar-nav .nav-link {
    color:#EBECEC;
}


.navbar-light .navbar-brand {
    color:#EFEFEF;
}

/* Card header */

.card-header:first-child {
    background-color: #212529!important;
}

/* Card image */
.card-img-top {
    flex-grow: 1;
    object-fit:contain;
}
.card-body{
    flex-grow:0;
}
