{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12">
            <div class="row pt-4">
                <h1 class="display-3">Error 403 Permission Denied!</h1>
            </div>
            <div class="row pt-4">
                <h2 class="display-4">You don't have permission to see or edit this</h1>
            </div>
            <div class="row pt-4">
                <a class="btn btn-info" href="{{request.META.HTTP_REFERER|escape}}">Go back</a>
            </div>

        </div>
    </div>

{% endblock %}