body {
    background-color:#1E242B;
}

.h1, h2, h3, h4, h5, i{
    color:#EFEFEF!important;
    font-family: 'Roboto', sans-serif;
}

.p {
    font-family: 'Roboto', sans-serif;
}

.white-color-font {
    color:#EFEFEF!important;
}

.black-color-font {
    color: black!important;
}

/* Miscellaneous */

.font-color-black {
    color: black!important;;
}

/* Navigation bar */
.bg-light {
    background-color:#2D3640!important;
}

.navbar-light .navbar-nav .nav-link {
    color:#EBECEC;
}

.navbar-light .navbar-brand {
    color:#EFEFEF;
}

/* Card image */
.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

/* Team images */
.circular-teams {
    width: 50;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

/* Competition Image when sign up is closed */
.circular-competition-signup-closed {
    width: 50;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}



.circular img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.border-image {
    border: 2px solid white!important;
}

/* Card header */

.card-header:first-child {
    background-color: #212529!important;
}

/* Fa icons style */

/* kill icon */

.kill-icon {
    color: black!important;
}

/* Match crowns */

.first-place {
    color:#ffd700!important;
}

.second-place {
    color: #808080!important;
}

.third-place {
    color: #cd7f32!important;
}

.fourth-place {
    color: #c0c0c0!important;
}

.fifth-place {
    color: #353636!important;
}

/* Banned or prohibited icon */

.red-icon {
    color: red!important;
}

/* Twitch-icon color */

.twitch-icon-color {
    color: #772CE8!important;
}

.discord-icon-color {
    color: #677BC4!important;
}

.facebook-icon-color {
    color: #285091!important;
}

.instagram-icon-color {
    color: #F17412!important;
}

.twitter-icon-color {
    color: #1D9CEB!important;
}

.youtube-icon-color {
    color: #FF0000!important;
}

.oauth-button {
    transition: .4s;
}

.oauth-button:hover {
    transition: .4s;
    filter: brightness(85%);
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
  }

.fb {
    background-color: #3B5998;
    color: white;
  }

.twitch {
    background-color: #772CE8!important;
    color: white;
  }

/* Check mark */

.check-mark-icon {
    color: green!important;
}

/* Note icon */

.note-icon {
    color: yellow!important;
}

/* Responsive text */


/* Pop up for graphs and stats */


/* Forms labels */

/* label {
    color: white;
} */

/* Form color */

.join-competition-form {
    background-color: #212529;
}

.competition-sign-up-closed {
    background-color: #212529;
}

.email-communication-form {
    background-color: #212529;
}

.dashboard {
    background-color: #212529;
}


/* SCROLL BAR */

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

/* Font size re sizing base on scree size */

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}
