{% extends 'main/base.html' %}
{% block content %}

{% for team in teams %}
    <div class="row pt-4 pb-4">
        
        <div class="col"></div>
        <div class="col col-lg-auto col-md-auto col-sm-auto">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.mos.cms.futurecdn.net/RjKYxQHcJL3k7WjkKjGxi9-320-80.png" alt="Card image cap">
                <div class="card-body">
                    <div class="col">
                        <div class="row">
                            <h5 class="card-title">Team Name:</h5>
                        </div>
                        <div class="row">
                            <p>{{ team.team_name }}</p>
                        </div>

                        <div class="row">
                            <h5 class="card-title">Type:</h5>
                        </div>
                        <div class="row">
                            <p>{{ team.team_type }}</p>
                        </div>

                        <div class="row">
                            <h5 class="card-title">Created by:</h5>
                        </div>
                        <div class="row">
                            <p>{{ team.created_by }}</p>
                        </div>

                        <div class="row">
                            <h5 class="card-title">Members:</h5>
                        </div>
                        <div class="row">
                                <div class="list-group">
                                    {% for person in team.profiles.all %}
                                        <a href="{% url 'get_profile' tag=person %}" class="list-group-item list-group-item-action">{{ person }}</a>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                    {% if team.created_by == user %}
                    <div class="row pt-4">
                        <div class="col text-center">
                            <a href="{% url 'edit_team' team_name=team.team_name %}" class="btn btn-primary">Edit Team</a>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col text-center">
                            <a href="{% url 'delete_team' team_name=team.team_name %}" class="btn btn-danger">Delete Team</a>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col text-center">
                            <a href="{% url 'view_team' team_name=team.team_name %}" class="btn btn-primary">View Team</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="row pt-4">
                        <div class="col text-center">
                            <a href="{% url 'leave_team' team_name=team.team_name %}" class="btn btn-warning">Leave Team</a>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col text-center">
                            <a href="{% url 'view_team' team_name=team.team_name %}" class="btn btn-primary">View Team</a>
                        </div>
                    </div>
                    {% endif %}

                    

                </div>
              </div>

        </div>
        <div class="col"></div>
            
    </div>
    {% endfor %}

{% endblock content %}