{% extends 'main/base.html' %}
{% load custom_filtering_tags %}

{% block javascript %}
  <!-- <script>
    function reload() {
      console.log('Reloading');
      document.location.reload();
    }

    setTimeout(reload, 10000);
  </script> -->
{% endblock %}

{% block content %}

<div class="row"> 
  <div class="col">
    <h1>All competitions:</h1>
  </div>
</div>

<div class="row">
    <div class="col">
      {% if competitions %}
        {% for competition in competitions %}
          <div class="row pt-4">
              <div class="col">
                <div class="card">
                  <div class="card-header" role="tab" id="headingInside">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" href="#{{ forloop.counter0|add }}" aria-expanded="false" aria-controls="{{ forloop.counter0|add }}">
                        <div class="row">
                          <div class="col-4"><h2> {{ competition.competition_name }} </h2></div>
                          <div class="col-4">
                              {% if competition.competition_status == 1 %}
                                <div class="row">
                                    <td class="border-0 text-right"><span class="badge badge-success"> In-Progress </span></td>
                                </div>
                              {% elif competition.competition_status == 2 %}
                                  <div class="row">
                                      <td class="border-0 text-right"><span class="badge badge-warning"> Ended </span></td>
                                  </div>
                              {% elif competition.competition_status == 3 %}
                                  <div class="row">
                                      <td class="border-0 text-right"><span class="badge badge-primary"> Not-Started </span></td>
                                  </div>
                              {% endif %}
                          </div>
                          <div class="col-4 text-right">
                              <i>Created by: {{ competition.created_by }}</i>
                          </div>
                        </div>
                        </span>
                      </a>
                    </h5>
                  </div>
                  <div id="{{ forloop.counter0|add }}" class="collapse" role="tabpanel" aria-labelledby="headingInside" data-parent="#accordionInside">
                    <div class="card-body">

                      <div class="row">
                        <div class="col-12">
                          <p>{{ competition.competition_description }}</p>
                          
                          <p><b>Start Time: </b>{{ competition.start_time }}</p>
                          <p><b>End Time: </b> {{ competition.end_time }}</p>
                        </div>
                      </div>
                      <a class="btn btn-info" href="{% url 'get_competition' comp_name=competition.competition_name %}">See scores</a>

                    </div>
                  </div>
                </div>
              </div>
          </div>
        {% endfor %}
      {% else %}
          <p>There are no competitions available!</p>
      {% endif %}
  </div>
</div>

{% endblock content %}