{% extends 'main/base.html' %}
{% load custom_filtering_tags %}

{% block javascript %}
  <!-- <script>
    function reload() {
      console.log('Reloading');
      document.location.reload();
    }

    setTimeout(reload, 10000);
  </script> -->
{% endblock %}

{% block content %}

<div class="row"> 
  <div class="col">
    <h1>All competitions:</h1>
  </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
      
      {% if competitions %}
        {% for competition in competitions %}
          <div class="row pt-4">
            
              <div class="col">
                <div class="card">
                  <!-- <img src="{{ competition.competition_banner }}" class="card-img-top"> -->
                  <!-- <div class="card-header card-img-overlay" role="tab" id="headingInside"> -->
                  <div class="card-header" role="tab" id="headingInside">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" href="#{{ forloop.counter0|add }}" aria-expanded="false" aria-controls="{{ forloop.counter0|add }}">
                        <div class="row">
                          <div class="col-xl-2 col-lg-2 col-md-4 d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                            <img src="{{ competition.competition_banner }}" class="circular">
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xm-12 my-auto">
                            <h2 class="align-middle"> {{ competition.competition_name }} </h2>
                          </div>
                          <div class="col-xl-2 col-lg-1 col-md-1 my-auto d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                              {% if competition.competition_status == 1 %}
                                <div class="row">
                                    <td class="border-0 text-right"><span class="badge badge-success"> In-Progress </span></td>
                                </div>
                              {% elif competition.competition_status == 2 %}
                                  <div class="row">
                                      <td class="border-0 text-right"><span class="badge badge-warning"> Ended </span></td>
                                  </div>
                              {% elif competition.competition_status == 3 %}
                                  <div class="row">
                                      <td class="border-0 text-right"><span class="badge badge-primary"> Not-Started </span></td>
                                  </div>
                              {% endif %}
                          </div>

                          <div class="col-lg-2 col-md-2 text-right my-auto d-none d-sm-block d-sm-none d-md-block .d-md-none .d-lg-block">
                              <i>Created by: {{ competition.created_by }}</i>
                          </div>

                          <div class="col-2 text-right my-auto">
                            <i class="fas fa-chevron-down"></i>
                          </div>

                        </div>
                        </span>
                      </a>
                    </h5>
                  </div>
                  <div id="{{ forloop.counter0|add }}" class="collapse" role="tabpanel" aria-labelledby="headingInside" data-parent="#accordionInside">
                    <div class="card-body">

                      <p class="lead">{{ competition.competition_description }}</p>

                      <div class="row">
                        <div class="col">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><p class="lead"><b>Start Time:</b> {{ competition.start_time }} - <b>End Time:</b> {{ competition.end_time }}</p></li>
                            <li class="list-group-item"><p class="lead">Note: Only the top <b>{{ competition.number_of_matches_to_count_points }}</b> matches are calculated</p></li>
                          </ul>
                        </div>
                      </div>

                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col"><p class="lead">Rules</p></th>
                            <th scope="col"><p class="lead">Points</p></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><p class="lead"><i class="fas fa-skull kill-icon"></i> Each kill</p></td>
                            <td>{{ competition.points_per_kill }}</td>
                          </tr>
                          <tr>
                            <td><p class="lead"><i class="fas fa-crown first-place"></i> First place</p></td>
                            <td>{{ competition.points_per_first_place }}</td>
                          </tr>
                          <tr>
                            <td><p class="lead"><i class="fas fa-crown second-place"></i> Second place</p></td>
                            <td>{{ competition.points_per_second_place }}</td>
                          </tr>
                          <tr>
                            <td><p class="lead"><i class="fas fa-crown third-place"></i> Third place</p></td>
                            <td>{{ competition.points_per_third_place }}</td>
                          </tr>
                        </tbody>
                      </table>
                      
                      <a class="btn btn-info" href="{% url 'get_competition' comp_name=competition.competition_name %}">View competition</a>

                    </div>
                  </div>
                </div>
              </div>
          </div>
        {% endfor %}
      {% else %}
          <p>There are no competitions available!</p>
      {% endif %}
  </div>
</div>

{% endblock content %}