{% extends 'main/base.html' %}
{% load custom_filtering_tags %}

{% block content %}

<div class="container">
  <div class="row pt-4">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 pt-2">
          {% if user == competition.created_by and competition.competition_started == False or user.is_superuser and competition.competition_started == False %}
            <a class="notranslate btn btn-success btn-block" href="{% url 'recalculate_scores' comp_name=competition.competition_name %}">Start Competition</a>

          {% elif competition.competition_started == True %}
            {% if competition.competition_status != "Ended" %}
              <h5>Competition has started! will gather data every {{ config.competitions_bg_tasks|convert_seconds_to_minutes }} minutes!</h5>
            {% else %}
              <h5>Competition has ended!</h5>
            {% endif %}
          
              {% if user == competition.created_by and competition.competition_status == "Ended" or user.is_superuser %}
                {% if competition.manually_calculate_bg_job_status == "Completed" %}
                  <a class="btn btn-info btn-block" id="manuallyRecalculate" href="{% url 'manually_recalculate_score_once' comp_name=competition.competition_name %}">Manually Recalculate</a>
                {% else %}
                  <h5>Calculating scores please wait, this may take a couple of minutes.</h5>
                {% endif %}
              {% endif %}

          {% endif %}
          
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">
          <div class = "row">
            {% if user == competition.created_by and competition.competition_started == True or user.is_superuser and competition.competition_started == True %}
              <div class="col-lg-7 col-md-7 col-sm-12 col-xm-12 pt-2">
                <a class="btn btn-primary btn-block" href="{% url 'show_competition_dashboard' comp_name=competition.competition_name %}">Dashboard</a>
              </div>
            {% endif %}

            {% if user == competition.created_by or user.is_superuser %}
              <div class="col-lg-7 col-md-7 col-sm-12 col-xm-12 pt-2">
                <a class="btn btn-secondary btn-block" href="{% url 'send_competition_email' comp_name=competition.competition_name %}">Tournament Communication</a>
              </div>
            {% endif %}

            <div class="col-lg-4 col-md-6 col-sm-12 col-xm-12 pt-2">
              <input id="toggle-silent" type="checkbox" data-toggle="toggle" onchange="change()" data-on="Auto-Refresh On" data-off="Auto-Refresh Off" data-onstyle="success" data-offstyle="danger">
            </div>
          </div>
        </div>

      </div>
      <div class="row pt-4">
        <div class="col">
        
          <!-- Progress bar -->
          <div class="row" id="progressBar">
              <div class="col">
                  <div class="progress" style="height:35px;">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%">Validating.. 0</div>
                  </div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row pt-4">
      <div class="col">

          <div class="container">
              <div id="accordion pt-4">
                <div class="card">
                  <div class="card-header">
                    <table class="table table-sm mb-0">
                      <tbody>
                        <tr id="headingOne" data-toggle="collapse" data-target="#header">
                          <div class="row">
                              <div class="col-xl-2 col-lg-2 col-md-4 d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                                  <td class="border-0 align-middle">
                                    <img src="{{ competition.competition_banner }}" class="circular border d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-image">
                                  </td>
                              </div>
                              <div class="col-6">
                                  <td class="border-0 align-middle">
                                    <h2 class="display-4">{{ competition.competition_name }}</h2>
                                  </td>
                              </div>
                              <div class="col-2">
                                {% if competition.competition_status == "In-Progress" %}
                                    <td class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-0 text-right align-middle">
                                      <span class="badge badge-success"> In-Progress </span>
                                      <span class="badge badge-info">{{ competition.competition_type }}</span>
                                      <span class="badge badge-light">Teams: {{ competition.teams.all|length }}/{{ competition.total_teams_allowed_to_compete }}</span>
                                      {% if competition.competition_is_closed == False %}
                                        <span class="badge badge-success">Inscriptions: Open</span>
                                      {% elif competition.competition_is_closed == True %}
                                        <span class="badge badge-danger">Inscriptions: Closed</span>
                                      {% endif %}

                                      {% if competition.competition_entry == "Free" %}
                                        <span class="badge badge-secondary">Free</span>
                                      {% elif competition.competition_entry == "Paid" %}
                                        <span class="badge badge-danger">Paid</span>
                                      {% endif %}
                                    </td>

                                {% elif competition.competition_status == "Ended" %}
                                    <td class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-0 text-right align-middle">
                                      <span class="badge badge-warning"> Ended </span>
                                      <span class="badge badge-info">{{ competition.competition_type }}</span>
                                      <span class="badge badge-light">Teams: {{ competition.teams.all|length }}/{{ competition.total_teams_allowed_to_compete }}</span>
                                      {% if competition.competition_is_closed == False %}
                                        <span class="badge badge-success">Inscriptions: Open</span>
                                      {% elif competition.competition_is_closed == True %}
                                        <span class="badge badge-danger">Inscriptions: Closed</span>
                                      {% endif %}

                                      {% if competition.competition_entry == "Free" %}
                                        <span class="badge badge-secondary">Free</span>
                                      {% elif competition.competition_entry == "Paid" %}
                                        <span class="badge badge-danger">Paid</span>
                                      {% endif %}
                                    </td>
                                    
                                {% elif competition.competition_status == "Not-Started" %}
                                    <td class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-0 text-right align-middle">
                                      <span class="badge badge-primary"> Not-Started </span>
                                      <span class="badge badge-info">{{ competition.competition_type }}</span>
                                      <span class="badge badge-light">Teams: {{ competition.teams.all|length }}/{{ competition.total_teams_allowed_to_compete }}</span>
                                      {% if competition.competition_is_closed == False %}
                                        <span class="badge badge-success">Inscriptions: Open</span>
                                      {% elif competition.competition_is_closed == True %}
                                        <span class="badge badge-danger">Inscriptions: Closed</span>
                                      {% endif %}

                                      {% if competition.competition_entry == "Free" %}
                                        <span class="badge badge-secondary">Free</span>
                                      {% elif competition.competition_entry == "Paid" %}
                                        <span class="badge badge-danger">Paid</span>
                                      {% endif %}
                                    </td>
                                    
                                {% endif %}
                              </div>

                              <div class="col-2">
                                <td class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-0 text-right align-middle">
                                  <i>Created by: {{ competition.created_by }}</i>
                                  <i class="fas fa-chevron-down"></i>
                                </td>
                              </div>
                          </div>

                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div id="header" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                      {% include 'competitions/competition_description/competition_description.html' %}
                        
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 pt-4 pb-4">
                    <h1 class="display-4 text-center white-color-font">Leaderboard!</h1>
                  </div>
                </div>

                {% if competition.competition_cover_results == False %}
                
                  {% for team in teams %}
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                          <h5 class="mb-0">
                            <a id="{{team}}-collapse" onclick="loadStreamVideoToFrame('{{team}}-collapse', '{{team.team_stream_user}}-header-twitch', '{{team.team_stream_user}}-iframe');" class="collapsed" data-toggle="collapse" href="#{{ team }}" aria-expanded="false" aria-controls="{{ team }}">
                                  <div class="row">
                                    
                                    <div class="col-1">
                                        <img src="{{ team.team_banner }}" class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block circular-teams border-image">
                                    </div>

                                    <div class="col-7 my-auto">
                                          <h4 id="{{team.team_stream_user}}-header" class="notranslate" data-url="https://embed.twitch.tv?channel={{team.team_stream_user}}&amp;height=480&amp;migration=true&amp;parent=www.duelout.com&amp;width=100%25">{{ team }}</h4>
                                    </div>

                                    {% if team.checked_in %}
                                    
                                      <div class="col-2 my-auto d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                                          <span class="badge badge-success">Checked in</span>
                                      </div>

                                    {% else %}

                                      <div class="col-2 my-auto d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                                        <span class="badge badge-danger">Not checked in</span>
                                      </div>

                                    {% endif %}

                                    <div class="col-1 my-auto text-right">
                                        {{ team.score }}
                                    </div>
                                    <div class="col-1 my-auto text-right">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                  </div>
                            </a>
                          </h5>
                        </div>
                        
                        <div id="{{ team }}" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">

                            <div class="row">
                              <div class="col">
                                {% if team.team_stream_user_type == "twitch" %}
                                  <h1 id="{{team.team_stream_user}}-header-twitch" data-url="https://embed.twitch.tv?channel={{team.team_stream_user}}&amp;height=480&amp;migration=true&amp;parent=www.duelout.com&amp;width=100%25">{{team.team_stream_user}} Twitch Live!</h1>
                                {% elif team.team_stream_user_type == "facebook" %}
                                  <h1 id="{{team.team_stream_user}}-header-twitch" data-url="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/{{team.team_stream_user}}/live">{{team.team_stream_user}} Facebook Gaming Live!</h1>
                                {% elif team.team_stream_user_type == "youtube" %}
                                  <h1 id="{{team.team_stream_user}}-header-twitch" data-url="{{team.team_stream_user|youtube_embed_url_fixer}}">{{team.team_stream_user}} Youtube Live!</h1>
                                {% endif %}
          
                                  <iframe src=""
                                      allowfullscreen="" 
                                      scrolling="no" 
                                      frameborder="0" 
                                      title="Twitch" 
                                      autoplay="false"
                                      name = "twitchframe"
                                      sandbox="allow-modals allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox" 
                                      width="100%" 
                                      height="480"
                                      id = "{{team.team_stream_user}}-iframe">
                                  </iframe>
                              </div>
                            </div>

                            <h5 class="font-color-black pt-2">Team members past matches analysis before the tournament</h5>

                            <ul>
                              {% if team.player_1 != None %}
                                {% include 'competitions/competition_user_chart.html' with team_name=team user=team.player_1 %}
                              {% endif %}

                              {% if team.player_2 != None %}
                                {% include 'competitions/competition_user_chart.html' with team_name=team user=team.player_2 %}
                              {% endif %}

                              {% if team.player_3 != None %}
                                {% include 'competitions/competition_user_chart.html' with team_name=team user=team.player_3 %}
                              {% endif %}

                              {% if team.player_4 != None %}
                                {% include 'competitions/competition_user_chart.html' with team_name=team user=team.player_4 %}
                              {% endif %}
                            </ul>

                            <div id="accordionInside pt-2">

                                {% if team.data %}

                                    {% for key, val in team.data_to_render.items %}
                                            <div class="card">
                                            <div class="card-header" role="tab" id="headingInside">
                                                <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#{{ forloop.counter0|add }} {{key}}" aria-expanded="false" aria-controls="{{ forloop.counter0|add }} {{key}}">
                                                    <div class="row ">

                                                        {% for key, val in val.items %}

                                                          {% if key == 'points' %}
                                                            {% if val.placement == competition.points_per_first_place %}
                                                              <div class="col-1">
                                                                <p class="text-center"><i class="fas fa-crown first-place"></i></p>
                                                              </div>
                                                            {% elif val.placement == competition.points_per_second_place %}
                                                              <div class="col-1">
                                                                <p class="text-center"><i class="fas fa-crown second-place"></i></p>
                                                              </div>
                                                            {% elif val.placement == competition.points_per_third_place %}
                                                              <div class="col-1">
                                                                <p class="text-center"><i class="fas fa-crown third-place"></i></p>
                                                              </div>
                                                            {% else %}
                                                              <div class="col-1">
                                                              </div>
                                                            {% endif %}
                                                          {% endif %}

                                                        {% endfor %}
                                                      <div class="col-7">Match #{{ forloop.counter0|add }}</div>
                                                      <div class="col-4 text-right"><i class="fas fa-chevron-down"></i></td></div>
                                                    </div>
                                                </a>
                                                </h5>
                                            </div>
                                            <div id="{{ forloop.counter0|add }} {{key}}" class="collapse" role="tabpanel" aria-labelledby="headingInside" data-parent="#accordionInside">
                                                <div class="card-body">
                                                <div class="table-responsive">
                                                  <table class="table table-dark table-hover table-bordered">
                                                      <thead>
                                                        <tr class="bg-primary">
                                                          <th scope="col">Match ID:</th>
                                                          <th scope="col">{{ key }}</th>
                                                          {% for key, val in val.items %}

                                                            {% if key == 'points' %}
                                                              <th class="col">Points Earned In Match:</th>
                                                              <th class="col">{{ val.total_points }}</th>
                                                              <th class="col"></th>
                                                            {% endif %}

                                                          {% endfor %}
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Player</th>
                                                            <th scope="col">KD</th>
                                                            <th scope="col">KILLS</th>
                                                            <th scope="col">Damage</th>
                                                            <th scope="col">Placement</th>
                                                        </tr>
                                                      </thead>
                                                      {% for key, val in val.items %}
                                                      <tbody>
                                                        <tr>
                                                            {% if key == 'points' %}
                                                              <!-- Don't do anything -->
                                                            {% else %}
                                                              <td>{{ key }}</td>
                                                            {% endif %}
                                                          
                                                            {% for key, value in val.0.items %}
                                                              {% if key == 'kd' %}
                                                                <td>{{ value|format_kd }}</td>
                                                              {% elif  key == 'kills' %}
                                                                <td>{{ value }}</td>
                                                              {% elif  key == 'damageDone' %}
                                                                <td>{{ value }}</td>
                                                              {% elif  key == 'teamPlacement' %}
                                                                <td>{{ value }}</td>
                                                              {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                      </tbody>
                                                      {% endfor %}
                                                  </table>
                                                </div>

                                                </div>
                                            </div>
                                            </div>
                                    {% endfor %}
                                {% else %}
                                        <h3 class="black-color-font">Competition has not started or been loaded!</h3>
                                {% endif %}

                            </div>

                          </div>
                        </div>

                    </div>
                  {% endfor %}
                
                {% else %}

                <div class="row text-center">
                  <div class="col">
                    <h4 class="display-1"><i class="fas fa-spinner"></i> Computing tournament results! Please try again in a few minutes .... </h4>
                  </div>
                </div>


                {% endif %}
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
    <script>
        let time_to_refresh = {{ config.competitions_page_refresh_time }};
        let competition_name = "{{ competition.competition_name }}";
        let manual_bg_job_status = "{{ competition.manually_calculate_bg_job_status }}";

        let progress_bar_row = document.getElementById('progressBar');
        let progress_bar = document.getElementsByClassName('progress-bar');
        
        let interval;

        progress_bar_row.style.display = "none";

        $('#toggle-silent')[0].checked = false;

        let checked = localStorage.getItem("checkBox");

        function checkStates() {
            if (checked == "true") {
                $('#toggle-silent')[0].checked = true;
            } else if (checked == "false") {
            }
        }

        function change() {
            let decider = document.getElementById('toggle-silent');
            if(decider.checked){
                localStorage.setItem("checkBox", true);
                setTimeout(reload, time_to_refresh);
            } else {
                clearTimeout(reload);
                localStorage.removeItem("checkBox");
                localStorage.setItem("checkBox", false);
            }
        }

        function reload() {
            document.location.reload();
        }

        function loadStreamVideoToFrame(collapsable_element_id, twitch_header_id, twitch_frame_id) {
          // Loads stream video depending 
          // on which card is collapsed
          // collapsable_element_id is taken as false
          // since the function is being called first
          // before it can convert to true

          let card = document.getElementById(collapsable_element_id);
          let twitch_frame = document.getElementById(twitch_frame_id);

          is_not_expanded = card.getAttribute("aria-expanded");

          if (is_not_expanded == "false") {
            let stream_url = document.getElementById(twitch_header_id).getAttribute("data-url")
            twitch_frame.setAttribute("src", stream_url)
          } 
          else {
            let stream_url = "";
            twitch_frame.setAttribute("src", stream_url)
          }
        }

        function checkJobStatus() {
          // Makes an api call and 
          // gets the job status for 
          // manual job run

          $.ajax({
            url: "/api/" + competition_name + "/manually_calculate_job/status",
            success: function(data) {
              progress_bar_row.style.display = "block";

              if (data["status"] == "Started") {
                progress_bar[0].className = "progress-bar progress-bar-striped progress-bar-animated";
                progress_bar[0].style.width = "25%";
                progress_bar[0].textContent = "Started to get data from all players.. 25%";

              } else if (data["status"] == "In-Progress") {
                progress_bar[0].className = "progress-bar progress-bar-striped progress-bar-animated";
                progress_bar[0].style.width = "55%";
                progress_bar[0].textContent = "Score calculation is in progress. Please give it a couple of more seconds.. 55%";

              } else if (data["status"] == "Completed") {
                progress_bar[0].className = "progress-bar progress-bar-striped progress-bar-animated";
                progress_bar[0].style.width = "100%";
                progress_bar[0].textContent = "Scores are 100% calculated, please refresh page!";
                clearInterval(interval)
                
              } else {
                alert("Something went wrong. BG status " + data["status"]);
              }
            }
          });
        }

        if (manual_bg_job_status != 'Completed') {
          checkJobStatus();
          interval = setInterval(checkJobStatus, 5000);
        }

        checkStates();
        change();

    </script>
{% endblock %}