{% extends 'main/base.html' %}
{% load custom_filtering_tags %}

{% block javascript %}
    <script>
        // These functions are basically allowing
        // the reloading of the page if needed
        // otherwise, the user can stop the refreshing
        // by unchecking the box

        let time_to_refresh = {{ config.competitions_page_refresh_time }}

        $('#toggle-silent')[0].checked = false;

        let checked = localStorage.getItem("checkBox");

        function checkStates() {
            if (checked == "true") {
                console.log('It was checked');
                $('#toggle-silent')[0].checked = true;
            } else if (checked == "false") {
                console.log('It was not checked!');
            }
        }

        function change() {
            let decider = document.getElementById('toggle-silent');
            if(decider.checked){
                localStorage.setItem("checkBox", true);
                setTimeout(reload, time_to_refresh);
            } else {
                clearTimeout(reload);
                localStorage.removeItem("checkBox");
                localStorage.setItem("checkBox", false);
            }
        }

        function reload() {
            document.location.reload();
        }

        checkStates();
        change();

    </script>
{% endblock %}

{% block content %}

<div class="row pt-4">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        {% if user == competition.created_by and competition.competition_ready == False %}
          <a class="btn btn-success" href="{% url 'recalculate_scores' comp_name=competition.competition_name %}">Start Competition</a>
        {% else %}
          <h5>Competition has been started!</h5>
        {% endif %}
      </div>
      <div class="col-6">

        <div class = "row">
          <div class="col-6">
            {% if user == competition.created_by and competition.competition_ready == True %}
              <a class="btn btn-info" href="{% url 'manually_recalculate_score_once' comp_name=competition.competition_name %}">Manually Recalculate</a>
            {% endif %}
          </div>
          <div class="col-6">
            <input id="toggle-silent" type="checkbox" data-toggle="toggle" onchange="change()" data-on="Auto-Refresh On" data-off="Auto-Refresh Off" data-onstyle="success" data-offstyle="danger">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row pt-4">
    <div class="col">

        <div class="container">
            <div id="accordion pt-4">
              <div class="card">
                <div class="card-header">
                  <table class="table table-sm mb-0">
                    <tbody>
                      <tr id="headingOne" data-toggle="collapse" data-target="#header">

                        <div class="row">
                            <div class="col-8">
                                <td class="border-0"><h2>{{ competition.competition_name }}</h2></td>
                            <div class="col-4">
                                <td class="border-0 text-right"><i>Created by: {{ competition.created_by }}</i></td>
                            </div>
                        </div>
                        {% if competition.competition_status == 1 %}
                            <div class="row">
                                <td class="border-0 text-right"><span class="badge badge-success"> In-Progress </span></td>
                            </div>
                        {% elif competition.competition_status == 2 %}
                            <div class="row">
                                <td class="border-0 text-right"><span class="badge badge-warning"> Ended </span></td>
                            </div>
                        {% elif competition.competition_status == 3 %}
                            <div class="row">
                                <td class="border-0 text-right"><span class="badge badge-primary"> Not-Started </span></td>
                            </div>
                        {% endif %}
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div id="header" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <p>{{ competition.competition_description }}</p>
                        
                        <p><b>Start Time: </b>{{ competition.start_time }}</p>
                        <p><b>End Time: </b> {{ competition.end_time }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% for team in teams %}
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#{{ team }}" aria-expanded="false" aria-controls="{{ team }}">
                          <table class="table table-sm mb-0 table-hover">
                            <tbody>
                              <tr id="headingOne" data-toggle="collapse" data-target="#collapseOne">
                                <td class="border-0">{{ team }}</td>
                                <td class="border-0">Score:</td>
                                <td class="border-0">{{ team.score }}</td>
                                <td class="border-0 text-right"><i class="fas fa-chevron-down"></i></td>
                              </tr>
                            </tbody>
                          </table>
                        </a>
                      </h5>
                    </div>
                    <div id="{{ team }}" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">

                        <div id="accordionInside">

                            {% if team.data %}

                                {% for key, val in team.data_to_render.items %}
                                        <div class="card">
                                        <div class="card-header" role="tab" id="headingInside">
                                            <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#{{ forloop.counter0|add }} {{key}}" aria-expanded="false" aria-controls="{{ forloop.counter0|add }} {{key}}">
                                                <div class="row">
                                                  <div class="col-8">Match #{{ forloop.counter0|add }}</div>
                                                  <div class="col-4 text-right"><i class="fas fa-chevron-down"></i></td></div>
                                                </div>
                                                </span>
                                            </a>
                                            </h5>
                                        </div>
                                        <div id="{{ forloop.counter0|add }} {{key}}" class="collapse" role="tabpanel" aria-labelledby="headingInside" data-parent="#accordionInside">
                                            <div class="card-body">

                                            <table class="table table-dark table-hover">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Match ID: {{ key }}</th>
                                                  </tr>
                                                  <tr>
                                                      <th scope="col">Player</th>
                                                      <th scope="col">KD</th>
                                                      <th scope="col">KILLS</th>
                                                      <th scope="col">Placement</th>
                                                      <th scope="col">Damage</th>
                                                  </tr>
                                                </thead>
                                                {% for key, value in val.items %}
                                                <tbody>
                                                    <tr>
                                                    <td>{{ key }}</td>
                                                    {% for key, value in value.0.items %}
                                                        <td>{{ value }}</td>
                                                    {% endfor %}
                                                    </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>

                                            </div>
                                        </div>
                                        </div>
                                {% endfor %}
                            {% else %}
                                    <h3>Competition has not started or been loaded!</h3>
                            {% endif %}

                        </div>

                      </div>
                    </div>

                </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock content %}