{% load custom_filtering_tags %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
  <div class="row pt-2 pb-2">
    <div class="col-2"></div>
      <div class="col-8">
        <a type="button" class="btn btn-info btn-block" onclick="runCharts('{{ user|remove_everything_after_hashtag }}')" data-toggle="modal" data-target="#damageModal-{{user|remove_everything_after_hashtag}}">
          {{ user }} 
          {% if errors != None %}
            <span class="badge badge-danger">{{ errors }}</span>
          {% endif %}
        </a>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="modal fade" id="damageModal-{{user|remove_everything_after_hashtag}}" tabindex="-1" role="dialog" aria-labelledby="damageModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title font-color-black" id="exampleModalLabel">{{ user }} Last matches data</h5>
        
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <canvas id="damage-chart-{{user|remove_everything_after_hashtag}}" data-url="{% url 'chart_stats_key' team_name=team user=user key='damageDone' %}"></canvas>
            </div>
          </div>
      
          <div class="row">
            <div class="col-12">
              <canvas id="kda-chart-{{user|remove_everything_after_hashtag}}" data-url="{% url 'chart_stats_key' team_name=team user=user key='kd' %}"></canvas>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <canvas id="placement-chart-{{user|remove_everything_after_hashtag}}" data-url="{% url 'chart_stats_key' team_name=team user=user key='teamPlacement' %}"></canvas>
            </div>
          </div>

        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>

    function runCharts (user) {
      initializeCharts(user).then(() => {
        createChart(user, chartId = "#damage-chart-" + user, label = "Damage", color = "#1d8187", title = "Damage over last games", xAxisLabel = "Matches", yAxisLabel = "Damage");
        createChart(user, chartId = "#kda-chart-" + user, label = "KD", color = "#1e242b", title = "KD over last games", xAxisLabel = "Matches", yAxisLabel = "KD", kdGraph = true);
        createChart(user, chartId = "#placement-chart-" + user, label = "Placements", color = "#7d838d", title = "Placements over last games", xAxisLabel = "Matches", yAxisLabel = "Placements");
      })
    }
  
    async function initializeCharts(user_tag) {
      initChart("damage-chart-" + user_tag);
      initChart("kda-chart-" + user_tag);
      initChart("placement-chart-" + user_tag);
    }

    function initChart(chartId) {
        // Initializes chart with random
        // data - This needs to be done
        // Otherwise the modal will not
        // be able to show anything
        // https://stackoverflow.com/questions/36650455/chart-js-cannot-read-property-length-of-undefined

        chart = new Chart(document.getElementById(chartId), {
            type: 'line',
            data: {
                labels: [1,2,3,4,5],
                datasets: [{ 
                        data: [1,2,3,4,5],
                        label: "TEST",
                        borderColor: "#3e95cd",
                        fill: false
                }]
            },
            options: {
              events: [],
            }
        });
    }
  
    function createChart(user, chartId, label, color, title, xAxisLabel, yAxisLabel, kdGraph = false) {
        var $chart = $(chartId);
  
        $.ajax({
                url: $chart.data("url"),
                success: function (data) {
  
                    var ctx = $chart[0].getContext("2d");

                    console.log(data);

                    chart.clear();

                    // If kdGraph adds extra 
                    // dataset with average kd of
                    // player
                    if (kdGraph == true ) {
                      dataGraph = [{
                          label: label,
                          borderColor: color,
                          data: data.key,
                          fill: false
                        },{
                          label: 'Average KD of past matches',
                          borderColor: '#C5283D',
                          data: data.avg,
                          fill: false
                        }]
                    } else {
                      dataGraph = [{
                          label: label,
                          borderColor: color,
                          data: data.key,
                          fill: false
                        }]
                    }

                    chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.matches,
                            datasets: dataGraph,
                        },
                        options: {
                            events: [],
                            maintainAspectRatio: false,
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: title
                            },
                            scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: yAxisLabel
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: xAxisLabel
                                        }
                                    }]
                            },
                        },
                    });
  
                }
            });
  
        };
  </script>

{% endblock %}