{% extends 'main/base.html' %}
{% load custom_filtering_tags %}

{% block content %}

<div class="row pt-4">
  <div class="col-12">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 pt-2">
        {% if user == competition.created_by and competition.competition_started == False %}
          <a class="notranslate btn btn-success" href="{% url 'recalculate_scores' comp_name=competition.competition_name %}">Start Competition</a>
        {% elif competition.competition_started == True %}
          <h5>Competition has been started!</h5>
        {% else %}
          <h5>Competition has not been started!</h5>
        {% endif %}
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">
        <div class = "row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 pt-2">
            {% if user == competition.created_by and competition.competition_started == True %}
              <a class="btn btn-info" href="{% url 'manually_recalculate_score_once' comp_name=competition.competition_name %}">Manually Recalculate</a>
            {% endif %}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 pt-2">
            <input id="toggle-silent" type="checkbox" data-toggle="toggle" onchange="change()" data-on="Auto-Refresh On" data-off="Auto-Refresh Off" data-onstyle="success" data-offstyle="danger">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row pt-4">
    <div class="col">

        <div class="container">
            <div id="accordion pt-4">
              <div class="card">
                <div class="card-header">
                  <table class="table table-sm mb-0">
                    <tbody>
                      <tr id="headingOne" data-toggle="collapse" data-target="#header">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-4 d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                                <td class="border-0 align-middle">
                                  <img src="{{ competition.competition_banner }}" class="circular border d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-image">
                                </td>
                            </div>
                            <div class="col-6">
                                <td class="border-0 align-middle">
                                  <h2 class="display-4">{{ competition.competition_name }}</h2>
                                </td>
                            </div>
                            <div class="col-2">
                              {% if competition.competition_status == 1 %}
                                  <div class="row">
                                      <td class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-0 text-right align-middle"><span class="badge badge-success"> In-Progress </span></td>
                                  </div>
                              {% elif competition.competition_status == 2 %}
                                  <div class="row">
                                      <td class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-0 text-right align-middle"><span class="badge badge-warning"> Ended </span></td>
                                  </div>
                              {% elif competition.competition_status == 3 %}
                                  <div class="row">
                                      <td class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-0 text-right align-middle"><span class="badge badge-primary"> Not-Started </span></td>
                                  </div>
                              {% endif %}
                            </div>

                            <div class="col-2">
                              <td class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block border-0 text-right align-middle">
                                <i>Created by: {{ competition.created_by }}</i>
                                <i class="fas fa-chevron-down"></i>
                              </td>
                            </div>
                        </div>

                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- <div id="header" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion"> -->

                <div id="header" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">

                    <div class="row">
                      <div class="col-12">
                        <h4 class="black-color-font">Tournament Description:</h4>
                        <p class="lead">{{ competition.competition_description }}</p>

                        <div class="row pt-2">
                          <div class="col">
                            <h4 class="black-color-font">Schedule:</h4>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><p class="lead"><b><i class="fas fa-hourglass-end font-color-black"></i> Start Time:</b> {{ competition.start_time }} EST</p></li>
                              <li class="list-group-item"><p class="lead"><b><i class="fas fa-hourglass-start font-color-black"></i> End Time:</b> {{ competition.end_time }} EST</p></li>
                            </ul>
                          </div>
                        </div>

                        <div class="row pt-2">
                          <div class="col">
                            <ul class="list-group list-group-flush">
                              <h4 class="black-color-font">General Rules:</h4>
                              <li class="list-group-item"><p class="lead"><i class="fas fa-users font-color-black"></i><b> Competition Type:</b> {{ competition.competition_type }}</p></li>
                              <li class="list-group-item"><p class="lead"><i class="fas fa-chart-line font-color-black"></i><b> KD limit per player:</b> {{ competition.cod_kd_minimum_per_player_verification|stringformat:".2f" }} <= KD <= {{ competition.cod_kd_maximum_per_player_verification|stringformat:".2f" }}</p></li>
                              <li class="list-group-item"><p class="lead"><i class="fas fa-sort-numeric-up font-color-black"> </i> Only the best <b>{{ competition.number_of_matches_to_count_points }}</b> games are calculated.</p></li>
                              <li class="list-group-item"><p class="lead"><i class="fab fa-twitch twitch-icon-color"></i> Twitch Live Stream during competition is required.</p></li>
                              <li class="list-group-item"><p class="lead"><i class="fas fa-ban red-icon"></i> <span class="notranslate">Reverse Boosting</span> is prohibited.</p></li>
                              <li class="list-group-item"><p class="lead"><i class="fas fa-ban red-icon"></i> Any sort of <span class="notranslate">Hack</span> is prohibited.</p></li>
                            </ul>
                          </div>
                        </div>

                        
                        <div class="table-responsive pt-2">
                          <h4 class="black-color-font">Points System:</h4>
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col"><p class="lead">Rules</p></th>
                                <th scope="col"><p class="lead">Points</p></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><p class="lead"><i class="fas fa-skull kill-icon"></i> Each kill</p></td>
                                <td>{{ competition.points_per_kill }}</td>
                              </tr>
                              <tr>
                                <td><p class="lead"><i class="fas fa-crown first-place"></i> First place</p></td>
                                <td>{{ competition.points_per_first_place }}</td>
                              </tr>
                              <tr>
                                <td><p class="lead"><i class="fas fa-crown second-place"></i> Second place</p></td>
                                <td>{{ competition.points_per_second_place }}</td>
                              </tr>
                              <tr>
                                <td><p class="lead"><i class="fas fa-crown third-place"></i> Third place</p></td>
                                <td>{{ competition.points_per_third_place }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 pt-4 pb-4">
                  <h1 class="display-4 text-center white-color-font">Leaderboard!</h1>
                </div>

              </div>
              
              {% for team in teams %}
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#{{ team }}" aria-expanded="false" aria-controls="{{ team }}">
                          <table class="table table-sm mb-0 table-hover">
                            <tbody>
                              <div class="row">
                                <div class="col-1">
                                  <td class="border-0 align-middle">
                                    <img src="{{ team.team_banner }}" class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block circular-teams border-image">
                                  </td>
                                </div>
                                <div class="col-7">
                                  <td class="border-0 align-middle">
                                      <h5 class="notranslate">{{ team }}</h5>
                                  </td>
                                </div>
                                <div class="col-2">
                                  <td class="border-0 text-right align-middle">{{ team.score }}</td>
                                </div>
                                <div class="col-2">
                                  <td class="border-0 text-right align-middle"><i class="fas fa-chevron-down"></i></td>
                                </div>
                              </div>
                            </tbody>
                          </table>
                        </a>
                      </h5>
                    </div>
                    
                    <div id="{{ team }}" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">

                        {% include 'competitions/competition_team_twitch_live_feed.html' with twitch_user=team.team_twitch_stream_user %}
                        
                        <h5 class="font-color-black pt-2">Team members past matches analysis before the tournament</h5>

                        <ul>
                          {% if team.player_1 != None %}
                            {% include 'competitions/competition_user_chart.html' with team_name=team user=team.player_1 %}
                          {% endif %}

                          {% if team.player_2 != None %}
                            {% include 'competitions/competition_user_chart.html' with team_name=team user=team.player_2 %}
                          {% endif %}

                          {% if team.player_3 != None %}
                            {% include 'competitions/competition_user_chart.html' with team_name=team user=team.player_3 %}
                          {% endif %}

                          {% if team.player_4 != None %}
                            {% include 'competitions/competition_user_chart.html' with team_name=team user=team.player_4 %}
                          {% endif %}
                        </ul>

                        <div id="accordionInside pt-2">

                            {% if team.data %}

                                {% for key, val in team.data_to_render.items %}
                                        <div class="card">
                                        <div class="card-header" role="tab" id="headingInside">
                                            <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#{{ forloop.counter0|add }} {{key}}" aria-expanded="false" aria-controls="{{ forloop.counter0|add }} {{key}}">
                                                <div class="row ">

                                                    {% for key, val in val.items %}

                                                      {% if key == 'points' %}
                                                        {% if val.placement == competition.points_per_first_place %}
                                                          <div class="col-1">
                                                            <p class="text-center"><i class="fas fa-crown first-place"></i></p>
                                                          </div>
                                                        {% elif val.placement == competition.points_per_second_place %}
                                                          <div class="col-1">
                                                            <p class="text-center"><i class="fas fa-crown second-place"></i></p>
                                                          </div>
                                                        {% elif val.placement == competition.points_per_third_place %}
                                                          <div class="col-1">
                                                            <p class="text-center"><i class="fas fa-crown third-place"></i></p>
                                                          </div>
                                                        {% else %}
                                                          <div class="col-1">
                                                          </div>
                                                        {% endif %}
                                                      {% endif %}

                                                    {% endfor %}
                                                  <div class="col-7">Match #{{ forloop.counter0|add }}</div>
                                                  <div class="col-4 text-right"><i class="fas fa-chevron-down"></i></td></div>
                                                </div>
                                            </a>
                                            </h5>
                                        </div>
                                        <div id="{{ forloop.counter0|add }} {{key}}" class="collapse" role="tabpanel" aria-labelledby="headingInside" data-parent="#accordionInside">
                                            <div class="card-body">
                                            <div class="table-responsive">
                                              <table class="table table-dark table-hover table-bordered">
                                                  <thead>
                                                    <tr class="bg-primary">
                                                      <th scope="col">Match ID:</th>
                                                      <th scope="col">{{ key }}</th>
                                                      {% for key, val in val.items %}

                                                        {% if key == 'points' %}
                                                          <th class="col">Points Earned In Match:</th>
                                                          <th class="col">{{ val.total_points }}</th>
                                                          <th class="col"></th>
                                                        {% endif %}

                                                      {% endfor %}
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Player</th>
                                                        <th scope="col">KD</th>
                                                        <th scope="col">KILLS</th>
                                                        <th scope="col">Damage</th>
                                                        <th scope="col">Placement</th>
                                                    </tr>
                                                  </thead>
                                                  {% for key, val in val.items %}
                                                  <tbody>
                                                    <tr>
                                                        {% if key == 'points' %}
                                                          <!-- Don't do anything -->
                                                        {% else %}
                                                          <td>{{ key }}</td>
                                                        {% endif %}
                                                      
                                                        {% for key, value in val.0.items %}
                                                          {% if key == 'kd' %}
                                                            <td>{{ value }}</td>
                                                          {% elif  key == 'kills' %}
                                                            <td>{{ value }}</td>
                                                          {% elif  key == 'damageDone' %}
                                                            <td>{{ value }}</td>
                                                          {% elif  key == 'teamPlacement' %}
                                                            <td>{{ value }}</td>
                                                          {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                  </tbody>
                                                  {% endfor %}
                                              </table>
                                            </div>

                                            </div>
                                        </div>
                                        </div>
                                {% endfor %}
                            {% else %}
                                    <h3 class="black-color-font">Competition has not started or been loaded!</h3>
                            {% endif %}

                        </div>

                      </div>
                    </div>

                </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
    <script>
        // These functions are basically allowing
        // the reloading of the page if needed
        // otherwise, the user can stop the refreshing
        // by unchecking the box

        // div id = header = collapse to maintain it closed

        let time_to_refresh = {{ config.competitions_page_refresh_time }}

        $('#toggle-silent')[0].checked = false;

        let checked = localStorage.getItem("checkBox");

        function checkStates() {
            if (checked == "true") {
                console.log('It was checked');
                $('#toggle-silent')[0].checked = true;
            } else if (checked == "false") {
                console.log('It was not checked!');
            }
        }

        function change() {
            let decider = document.getElementById('toggle-silent');
            if(decider.checked){
                localStorage.setItem("checkBox", true);
                setTimeout(reload, time_to_refresh);
            } else {
                clearTimeout(reload);
                localStorage.removeItem("checkBox");
                localStorage.setItem("checkBox", false);
            }
        }

        function reload() {
            document.location.reload();
        }

        checkStates();
        change();

    </script>
{% endblock %}