{% extends 'main/base.html' %}
{% load custom_filtering_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5 h-100">
    <div class="row h-100 align-items-center">
        <div class="col-md-12 min-vh-100 d-flex flex-column">
            <div class="row">
                <div class="col-lg-12 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">User Profile</h3>
                        </div>
                        <div class="card-body text-center">

                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col ">
                                            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" class="rounded" alt="Cinque Terre" style="height: 100px; width: 100px">
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="display-4 black-color-font">{{ user|title }}</h3>
                                            <form method="post">
                                                {% csrf_token %}
                                                
                                                <div class="row">
                                                    <div class="col">
                                                        {{ form|crispy }}
                                                    </div>
                                                </div>
                            
                                                <div class="row pt-4">
                                                    <div class="col">
                                                        <button class="primaryAction btn btn-primary btn-block" type="submit">Save profile</button>
                                                    </div>
                                                </div>
                            
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12 border-left">
                                    <div class="row pt-4">
                                        <div class="col">
                                            <h3 class="display-4 black-color-font">Current regiments:</h3>
                                        </div>
                                    </div>
                                    <div class="row pb-4">
                                        <div class="col">
                                            {% if regiments.count != 0 %}
                                                {% for regiment in regiments %}
                                                    <div class="row">
                                                        <div class="col">
                                                            <a href="{% url 'get_regiment_profile' regiment_name=regiment.name %}">{{forloop.counter0|add}} - {{ regiment|title }}</a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <p>You are not part of any regiment</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <!-- Button trigger modal -->
                                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                                Create a team
                                            </button> -->
                                            
                                            <!-- Modal -->
                                            <!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title black-color-font" id="exampleModalLongTitle">Join a team</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                            <form method="post">
                                                                <div class="modal-body">
                                                                    {% csrf_token %}
                                                                    {{ form|crispy }}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button class="primaryAction btn btn-primary btn-block" type="submit">Save profile</button>
                                                                </div>
                                                            </form>
                                                    </div>
                                                </div>
                                            </div> -->

                                            <a href="{% url 'create_regiment' %}" class="btn btn-primary">Create a regiment</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->



{% endblock %}